[submodule "week3_day2/sign_and_verify/lib/forge-std"]
	path = week3_day2/sign_and_verify/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week3_day2/sign_and_verify/lib/openzeppelin-contracts"]
	path = week3_day2/sign_and_verify/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w2_d3_foundry/lib/forge-std"]
	path = w2_d3_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4_d2_ido_and_stake/lib/forge-std"]
	path = w4_d2_ido_and_stake/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4_d2_ido_and_stake/lib/openzeppelin-contracts"]
	path = w4_d2_ido_and_stake/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w4_d5_upgrade_and_create/contract_upgrade/lib/forge-std"]
	path = w4_d5_upgrade_and_create/contract_upgrade/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w4_d5_upgrade_and_create/contract_upgrade/lib/openzeppelin-contracts"]
	path = w4_d5_upgrade_and_create/contract_upgrade/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w4_d5_upgrade_and_create/contract_upgrade/lib/openzeppelin-foundry-upgrades"]
	path = w4_d5_upgrade_and_create/contract_upgrade/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "w4_d5_upgrade_and_create/contract_upgrade/lib/openzeppelin-contracts-upgradeable"]
	path = w4_d5_upgrade_and_create/contract_upgrade/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "w5_d2_uniswap_v2_core/lib/forge-std"]
	path = w5_d2_uniswap_v2_core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w5_d2_uniswap_v2_core/lib/openzeppelin-contracts"]
	path = w5_d2_uniswap_v2_core/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w5_d3_nft_market_stake/lib/forge-std"]
	path = w5_d3_nft_market_stake/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "w5_d3_nft_market_stake/lib/openzeppelin-contracts"]
	path = w5_d3_nft_market_stake/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "myDex/lib/forge-std"]
	path = myDex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "myDex/lib/openzeppelin-contracts"]
	path = myDex/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w6_d3_multicall/lib/openzeppelin-contracts"]
	path = w6_d3_multicall/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
